@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #17181a;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hideen;
}

#logo {
  color: white;
  font-family: 'Abril Fatface', sans-serif;
  font-weight: 400;
}

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.nav-header .burguer {
  cursor: pointer;
}

.nav-header .burguer .line1, .nav-header .burguer .line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: #17181a;
}

.hero-img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 25rem;
      flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 25rem;
      flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}

.hero-desc h2 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: 400;
  font-size: 4rem;
}

.hero-desc p {
  padding: 3rem 0;
  font-size: 1.5rem;
  color: #cfcdcd;
}

.mountain-span {
  color: #567ce4;
}

.hike-span {
  color: #a76ee7;
}

.fashion-span {
  color: #ff8b5d;
}

.explore {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  text-decoration: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  opacity: 1;
  -webkit-clip-path: circle(4rem at 100% -10%);
          clip-path: circle(4rem at 100% -10%);
}

.nav-bar .nav-links {
  font-size: 3rem;
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
}

.nav-bar .nav-links h3 {
  padding: 3rem 0;
}

.nav-bar .contact {
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
}

.nav-bar .contact h2 {
  font-size: 3rem;
  padding: 2rem 0;
}

.nav-bar .contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.reveal-img, .reveal-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #17181a;
  left: 0;
  top: 0;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */