@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;500;700&display=swap');

$background-color: #17181a;
$swipe-colorf: rgb(255, 139, 93);
$swipe-colorm: rgb(86, 124, 228);
$swipe-colorh: rgb(167, 110, 231);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $background-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#logo{
    color: white;
    font-family: 'Abril Fatface', sans-serif;
    font-weight: 400;
}
.nav-header{
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    .burguer{
        cursor: pointer;
        .line1, .line2{
            width: 3rem;
            height: 0.2rem;
            margin: 0.4rem;
            background: white;
            pointer-events: none;
        }
    }
}
.slide{
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: $background-color;
}
.hero-img{
    position: relative;
    flex: 1;
    flex-basis: 25rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.hero-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-basis: 25rem;
    padding-left: 5rem;
    position: relative;
    h2{
        font-family: 'Abril Fatface', sans-serif;
        font-weight: 400;
        font-size: 4rem;
    }
    p{
        padding: 3rem 0;
        font-size: 1.5rem;
        color: rgb(207, 205, 205);
    }
}
.mountain-span{
    color: $swipe-colorm;
}
.hike-span{
    color: $swipe-colorh;
}
.fashion-span{
    color: $swipe-colorf;
}
.explore{
    padding: 1rem 2rem;
    background: none;
    border: none;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    text-decoration: none;
    align-self: flex-start;
    cursor: pointer;
}
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    opacity: 1;
    clip-path: circle(4rem at 100% -10%);
    .nav-links{
        font-size: 3rem;
        flex-basis: 30rem;
        h3{
            padding: 3rem 0;
        }
    }
    .contact{
        flex-basis: 30rem;
        h2{
            font-size: 3rem;
            padding: 2rem 0;
        }
        p{
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}
.reveal-img, .reveal-text{
    position: absolute;
    width: 100%;
    height: 100%;
    background: $background-color;
    left: 0;
    top: 0;
}
.cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    
}